body{margin: 0px;padding: 0px;overflow-x:hidden;font:12px "Lucida Sans",tahoma;background: url(../images/grain.png);}
a{text-decoration:none;}
.top{position:relative;height:100px;width:100%;padding:8px;margin-top:0px;background: #e4eef2;z-index: 11;} 
.top.rest{position:relative;height:100px;width:100%;padding:8px;margin-top:0px;background: #000} 

.toprr{display:none;font-family:bold, arial, serif;font-size:15px;z-index:999;background:#58fb11;border-radius:3px;padding:5px;}

.top-content1{margin-top:10px;position:relative;float:left;margin-left:100px;}
.dockcontainer{position:fixed;display:inline-block;}
.button{cursor:pointer;width:60px;border:solid 1px #ff6600;background-color:#FF6600;color:#fff;font-size:14px;-moz-border-radius:6px;-webkit-border-radius:6px;}
.button:hover{text-shadow:0px 0px 1px #161516;-moz-transition-duration:0.3s; -moz-transition-timing-function: ease-in;}
.button12{cursor:pointer;width:80px;height:15px;float:right;border:solid 1px #ff6600;background-color:#FF6600;color:#fff;font-size:14px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.menu2{text-decoration:none;}
<!--main css-->
.mainwrapper{width:1320px;}
.main{box-shadow:0px 0px 0px #000;margin-top:0px;z-index:-1;margin-left:100px;width:1000px;background:#fff;;margin-right:80px;text-align:left;background:#ccc;}
.content{margin-right:100px;text-align:left;margin-left:0px;}
.pwrapper{width:999px;}
.gmenu1{text-decoration:none;color:#000;font-family:bold, arial, serif;font-size:15px;background:#fff;margin-left:0px;font-family:bold;padding-left:5px;}
.gslide{height:60px;margin-left:300px;}
.gamenews{display:inline-block;margin-top:10px;margin-bottom:10px;border-radius:12px;width:350px;margin-left:0px;padding:10px;}
.gamenews1{display:inline-block;margin-top:10px;margin-bottom:10px;border-radius:12px;width:350px;margin-left:10px;padding:10px;}
.gwrapper{margin-top:20px;margin-left:30px;background:#e5ebf3;margin-bottom:60px;margin-right:15px;}
.gn1{list-style:square;font:12px MV Boli,"Bookshelf Symbol 7",Verdana,Calibri;background:#ebf8e9;color:#033477;width:90%;padding:8px;height:45px;margin:5px;border-radius:20px 0px 20px 0px;-moz-transition-duration:.3s;-moz-transition-timing-function:ease-in,ease-out;-webkit-transition-duration:.75s;-webkit-transition-timing-function:ease-in,ease-out;}
.gn1:hover{background:#c9cccc;font:12px MV Boli,"Bookshelf Symbol 7",Verdana,Calibri;color:#033477;}
.gnt{width:150px;margin-left:20pxpx;text-decoration:none;font-family:italic, arial, serif;font-size:20px;margin-top:30px;margin-bottom:0px;text-shadow:2px 2px 3px #7ef2f9;}
.gnt1{margin-left:150px;text-decoration:none;font-family:italic, arial, serif;font-size:20px;padding:30px;margin-
:0px;text-shadow:2px 2px 3px #7ef2f9;}
.gnwrapper{padding:10px;width:100%;}
.gn2{margin:5px;margin-left:350px;text-decoration:none;font-family:italic, arial, serif;font-size:30px;padding:30px;margin-
:0px;text-shadow:2px 2px 3px #7ef2f9;}
.flash{width:900px;height:400px;margin-left:30px;display:inline-block;}
.bottom{background:#000;text-decoration:none;height:100px;width:100%;border-radius:4px 4px 0px 0px;opacity:.8;z-index:999;position:fixed;bottom:0px;left:0px;display:inline-block}
.contact{text-decoration:none;font-family:italic, arial, serif;font-size:10px;color:#fbfbfb;float:right;margin-top:10px;margin-right:30px;padding:20px;}
.cont{margin-right:200px;}
/*robotics*/
.roboschooltop{float:left;font-family:bold,Times New Roman, serif;font-size:25px;}
.roboschooltop1{float:left;font-family:bold,Times New Roman, serif;font-size:17px;text-align:left;}
.sidenev{display:inline-block;width:100px; height:20px;position:fixed;float:right;background:#16f7ef;margin-left:900px;margin-top:450px;border-radius:12px;z-index:11;}
.sidenev:hover{background:#14f5a3;}
.projectbox{width:400px;height:200px;float:left;margin-left:65px;margin-top:60px;border-radius:0px 0px 12px 12px;box-shadow:0px 0px 1px #000;margin-bottom:0px;}
.prtop{width:400px;height:40px;background:#575858;opacity:.8;padding-top:12px;}
.procon{text-decoration:none;color:#fff;font-family:bold, arial, serif;font-size:20px;}
.welrobo{text-decoration:none;font-family:bold, arial, Georgia #000;color: #000; font-size: 20px;text-align:center;width: 800px;background:#cbcfd1;height: 350px}
h2{text-decoration:none;font:20px Estrangelo Edessa,"Bookshelf Symbol 7",Verdana,Calibri;}
h3{font:15px Kalinga,"Bookshelf Symbol 7",Verdana,Calibri;color:#000;}
.more{color:red;}
.t1photo{background:#ccc;height:120px;width:150px;float:left;}
.srobo{margin-top:550px;background:#f1faf9;margin-bottom:30px;margin:30px;}
.srobo1{margin-top:50px;margin-bottom:0px;margin:50px;}
.srobo12{margin-top:50px;margin-bottom:30px;margin:50px;}
h6{color: #40ff0d;
font: normal 19px Arial, Helvetica, sans-serif;
margin-bottom: 12px;
padding: 5px 0 6px 0;
text-align: left;
letter-spacing: 1px;
font-weight: bold;
}
h1{color: #037;
font-weight: bold;}
h5{text-align:left;font-size:15px;}
/*dock*/
img {border: none;}
/* dock - top */
.dock {position: absolute; height: 30px; text-align: center;width:400px;margin-left:200px;}
.dock-container {position: absolute;height: 50px;background: url(images/dock-bg2.gif);padding-left: 20px;}
a.dock-item {display: block;width: 40px;color: #000;position: absolute;top: 0px;text-align: center;text-decoration: none;font: bold 12px Arial, Helvetica, sans-serif;}
.dock-item img {border: none; margin: 5px 10px 0px; width: 100%; }
.dock-item span {display: none; padding-left: 20px;}
/* dock2 - bottom */
/*top sub-menu*/
.menuwrapp{width:1200px;z-index:999;}
.mrap{display:inline-block;font: bold 16px Arial, Helvetica, sans-serif;float:right;}
/*Robotics slide show */
.ei-slider{position: relative;width: 900px;z-index:0;height: 400px;margin: 0 auto;}
.ei-slider-loading{width:900px;height: 100%;position: absolute;top: 0px;left: 0px;z-index:0;background: rgba(0,0,0,0.9);color: #fff;text-align: center;line-height: 400px;}
.ei-slider-large{height: 100%;width:900px;position:relative;overflow: hidden;z-index:0;}
.ei-slider-large li{position: absolute;top: 0px;left: 0px;overflow: hidden;height: 100%;width: 100%;}
.ei-slider-large li img{width:900px;}
.ei-title{position: absolute;right: 40%;margin-right: 13%;top: 30%;}
.ei-title h2, .ei-title h3{text-align: right;}
.ei-title h2{font-size: 40px;line-height: 50px;font-family: 'Playfair Display', serif;font-style: italic;color: #b5b5b5;}
.ei-title h3{font-size: 70px;line-height: 70px;font-family: 'Open Sans Condensed', sans-serif;text-transform: uppercase;color: #000;}
.ei-slider-thumbs{height: 13px;margin: 0 auto;position: relative;width:900px;}
.ei-slider-thumbs li{position: relative;float: left;height: 100%;}
.ei-slider-thumbs li.ei-slider-element{top: 0px;left: 0px;position: absolute;height: 100%;z-index: 10;text-indent: -9000px;background: #000;background: rgba(0,0,0,0.9);}
.ei-slider-thumbs li a{display: block;text-indent: -9000px;background: #666 ;width: 100%;height: 100%;cursor: pointer;
    -webkit-box-shadow: 
    0px 1px 1px 0px rgba(0,0,0,0.3), 
    0px 1px 0px 1px rgba(255,255,255,0.5);
    -moz-box-shadow: 
    0px 1px 1px 0px rgba(0,0,0,0.3), 
    0px 1px 0px 1px rgba(255,255,255,0.5);
box-shadow: 
    0px 1px 1px 0px rgba(0,0,0,0.3), 
    0px 1px 0px 1px rgba(255,255,255,0.5);
-webkit-transition: background 0.2s ease;
-moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
transition: background 0.2s ease;}
.ei-slider-thumbs li a:hover{background-color: #f0f0f0;}
.ei-slider-thumbs li img{position: relative;bottom: 50px;opacity: 0;z-index: 11;max-width: 100%;-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3)));
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.ei-slider-thumbs li:hover img{opacity: 1;bottom: 73px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
@media screen and (max-width: 830px) {.ei-title{
position: absolute;right: 0px;margin-right: 0px;width: 100%;text-align: center;top: auto;bottom: 10px;background: #fff;background: rgba(255,255,255,0.9);padding: 5px 0;}
.ei-title h2, .ei-title h3{text-align: center;}
.ei-title h2{font-size: 20px;line-height: 24px;}
.ei-title h3{font-size: 30px;line-height: 40px;}}
.container{width:900px;width:100%}
.blue-container{height: 362px;}
/*font */
@font-face {font-family: 'Playfair Display';font-style: italic;font-weight: 400;src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url(http://themes.googleusercontent.com/static/fonts/playfairdisplay/v6/9MkijrV-dEJ0-_NWV7E6N3aqFElqJjV-H5EUExnZgmU.woff) format('woff');}
/*slide ends */

/*font */
@font-face {font-family: 'Open Sans Condensed';font-style: normal;font-weight: 300;}
/*top login*/
#menulog{list-style:none;margin:0px auto 0px auto;height:30px;width:150px;margin-bottom:10px;margin-left:0px;display:inline-block;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
#menulog li {float:left;display:block;text-align:center;position:relative;padding: 4px 10px 4px 10px;margin-right:30px;margin-top:7px;border:none;}
#menulog li:hover {border: 1px solid #777777;padding: 4px 9px 4px 9px;z-index:999;background: #F4F4F4;background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));-moz-border-radius: 5px 5px 0px 0px;-webkit-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;}
#menulog li a {font-family:Arial, Helvetica, sans-serif;font-size:14px; color: #EEEEEE;display:block;outline:0;text-decoration:none;}
#menulog li:hover a {color:#f8f2f2;}
#menulog li .drop {padding-right:1px;padding:3px;border-radius:0px 0px 5px 5px;}
#menulog li:hover .drop {background:url("img/drop.png") no-repeat right 7px;}
#menulog li:hover .dropdown_1column, 
#menulog li:hover .dropdown_2columns, 
#menulog li:hover .dropdown_3columns,
#menulog li:hover .dropdown_4columns,
#menulog li:hover .dropdown_5columns {left:-1px;top:auto;}
#menulog .menulog_right {float:right;margin-right:0px;}
#menulog li .align_right {-moz-border-radius: 5px 0px 5px 5px;-webkit-border-radius: 5px 0px 5px 5px;border-radius: 5px 0px 5px 5px;}
#menulog li:hover .align_right {left:auto;right:-1px;top:auto;}
#menulog p, #menulog h2, #menulog h3, #menulog ul li {font-family:Arial, Helvetica, sans-serif;line-height:21px;font-size:12px;text-align:left;}
#menulog h2 {font-size:21px;font-weight:400;letter-spacing:-1px;margin:7px 0 14px 0;padding-bottom:14px;border-bottom:1px solid #666666;}
#menulog h3 {font-size:14px;margin:7px 0 14px 0;padding-bottom:7px;border-bottom:1px solid #888888;}
#menulog p {line-height:18px;margin:0 0 10px 0;}
#menulog li:hover div a {font-size:12px;color:#015b86;}
#menulog li:hover div a:hover {color:#029feb;}
#menulog li .black_box {background-color:#333333;color: #eeeeee;padding:4px 6px 4px 6px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-webkit-box-shadow:inset 0 0 3px #000000;-moz-box-shadow:inset 0 0 3px #000000;box-shadow:inset 0 0 3px #000000;}
#menulog li ul {list-style:none;margin:0 0 12px 0;}
#menulog li ul li {font-size:12px;line-height:24px;position:relative;padding:0;margin:0;float:none;text-align:left;width:130px;}
#menulog li ul li:hover {background:none;border:none;padding:0;margin:0;}
#menulog li .greybox li {background:#F4F4F4;border:1px solid #bbbbbb;margin:0px 0px 4px 0px;padding:4px 6px 4px 6px;width:116px;-moz-border-radius: 5px;-webkit-border-radius: 5px;-khtml-border-radius: 5px;border-radius: 5px;}
#menulog li .greybox li:hover {background:#ffffff;border:1px solid #aaaaaa;padding:4px 6px 4px 6px;margin:0px 0px 4px 0px;}
.submitform{text-decoration:none;font-family:bold;color:black;border-radius:12px;padding:-10px;width:100px;}
.submitform:hover{background:green;color:blue;}
/*Online Solutions */
/*comments*/
ul{padding:0;margin: 0 0 0 13px;padding: 0;}
#commentcontainer{height:auto;width:600px;margin:0 auto;}
#commentcontainer img{float:left;border:1px solid #eeeeee;padding:5px;margin:0 12px 12px 0;}
.clearfix{clear:both;}
#subcomm img{height:auto;float:left;padding:5px;margin:5px 5px 5px 5px;}
#subcomm{float:right;width:497px;border-bottom:1px solid white;}
#maincomm{border-bottom:0px solid gray;padding-bottom:5px;margin-bottom:10px;background:#f2fefe}}
#name{font-weight: bold;color: #3B5998;text-transform:capitalize;}
#comm a{    text-decoration:none;color:#3b5998;}
#comm a:hover{text-decoration:underline;}
.subcommpropic{height:30px;width:30px;}
.t{font-family : Verdana, Helvetica, sans-serif;font-size : 12px;color:#ccc;}
.close{color:#c8cbcd;float:right;font-size:12px;margin:20px;}
.close:hover{color:red}
.like{cursor:pointer;width:40px;height:19px;border:solid 1px #31cdee;background-color:#31eeec;color:#9da39f;font-size:10px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.like:hover{-moz-transition-duration:0.3s; -moz-transition-timing-function: ease-in;}
/* member profile CSS */
.profile_pic_wrapper{float:left;}
.proimg{height:100px;width:100px;float:left;margin:7px;}
.proimg:hover{box-shadow:1px 1px 5px #0becfa}
.cwrap{font-family : Verdana, Helvetica, sans-serif;font-size : 12px;color:#fff;padding:10px;}
.cwrap:hover{color:red;text-decoration:none;}
.preview{height:100px;width:100px;}
.memcon{height:auto;width:810px;margin-left:140px;}
/*eebooks*/
.button123{margin-left:144px;margin-top:30px;padding:5px;cursor:pointer;width:80px;height:25px;border:solid 1px #f9ed8c;background-color:#09cffa;color:#fff;font-size:14px;-moz-border-radius:0px;-webkit-border-radius:0px;}
.button123{text-decoration:none;}
.menucontainer{width:100%;height:25px;margin-top:20px;}
.commentcontainer{height:auto;width:600px;margin:0 auto;}
.bookcontainerwrapp{background:#e3f5f9;height:100px;width:900px;margin-left:80px;border-radius:4px;}
.bookcont{background:red}
.book123{display:inline-block;margin-left:40px;width:200px}
.book1234{display:inline-block;margin-left:15px;width:120px}
.bookdownload{display:inline-block;background:#05a427;width:100px;border-radius:5px;margin-bottom:2px;text-align:center;margin-top:40px;}
/*gallery*/
.rg-image-wrapper{position:relative;padding:20px 30px;background:transparent url(../images/black.png) repeat top left;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;min-height:120px;height:350px;width:900px;margin-left:100px;}
.rg-image{position:relative;text-align:center;line-height:0px;}
.rg-image img{max-height:100%;max-width:100%;}
.rg-image-nav a{position:absolute;top:0px;left:0px;background:#000 url(../images/nav.png) no-repeat -20% 50%;width:28px;height:100%;text-indent:-9000px;cursor:pointer;opacity:0.3;outline:none;-moz-border-radius: 10px 0px 0px 10px;-webkit-border-radius: 10px 0px 0px 10px;border-radius: 10px 0px 0px 10px;}
.rg-image-nav a.rg-image-nav-next{right:0px;left:auto;background-position:115% 50%;-moz-border-radius: 0px 10px 10px 0px;-webkit-border-radius: 0px 10px 10px 0px;border-radius: 0px 10px 10px 0px;z-index:999;}
.rg-image-nav a:hover{opacity:0.8;z-index:999;}
.rg-caption {text-align:center;margin-top:15px;position:relative;}
.rg-caption p{font-size:11px;letter-spacing:2px;font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;line-height:16px;padding:0 15px;text-transform:uppercase;}
.rg-view{height:30px;}
.rg-view a{display:block;float:right;width:16px;height:16px;margin-right:3px;background:#464646 url(../images/views.png) no-repeat top left;border:3px solid #464646;opacity:0.8;}
.rg-view a:hover{opacity:1.0;z-index:999;}
.rg-view a.rg-view-full{background-position:0px 0px;z-index:999;}
.rg-view a.rg-view-selected{background-color:#6f6f6f;border-color:#6f6f6f;z-index:999;}
.rg-view a.rg-view-thumbs{background-position:0px -16px;z-index:999;}
.rg-loading{width:46px;height:46px;position:absolute;top:50%;left:50%;background:#000 url(../images/ajax-loader.gif) no-repeat center center;margin:-23px 0px 0px -23px;z-index:100;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;opacity:0.7;}
.container1{margin-left:100px;  }
/*gallery ends*/
.form1{text-decoration:none;font-weight:100px;color:#fb202a;font-family:bold, Estrangelo Edessa, serif;font-size:17px;}


.marquee{height:50px;margin-left:30px;}
.conwrap {
    width: 905px;
    min-height: 400px;
    margin: 0px auto;
    
    border-radius: 4px;
    margin-bottom:50px;
}
.leftcon{
     width: 905px;
    min-height: 350px;
    margin: 0px auto;
    background: #fff;
    border-radius: 5px;
    float:left;

   
}
.callus{font-size: 29px;color: #fbfbfb;text-decoration: none;margin-top: 30px;text-align: left;}

.pricing-table {

width: 300px;
background:#ccc;
padding-bottom: 22px;
position: relative;
margin-left: -1px;
box-shadow:1px 1px 5px #000;
}

.pricing-heading{background:#0667b2;
height: 80px;
text-align: center;
font-family: Century Gothic, sans-serif;
}

.pricing-heading h2 {
padding: 20px 10px 0px;
margin: 0 !important;
font-size: 23px;
color: white !important;
text-transform: uppercase;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
background: none !important;
font-weight: normal !important;
}
.pricing-heading p {
color: #AACBE0;
font-size: 14px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
padding: 0;border-radius: 4px;

}
.pricing-content {
background: #EEE ;margin-bottom: 250px;
width:300px;border-radius: 4px;
box-shadow: 1px 1px 5px #000;
}
.pricing-table a.join-button {
background: url(images/join-button.png) bottom right no-repeat;
display: block;
padding-right: 13px;
height: 29px;
position: absolute;
left: 63px;
bottom: -3px;
font-size: 12px;
color: white !important;
font-weight: bold;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
border-radius: 4px;
}
.pricing-tcontent ul.pricing li span {
background: url(images/list-checkmark.png) no-repeat 26px 11px;
display: block;}
.pricing-tcontent ul.pricing {
padding: 0 !important;
list-style: none !important;
background: url(images/pricing-separator.png) no-repeat;
margin: 0 !important;
list-style-image: none !important;
}
.x-mark{font-size: 15px;padding: 5px;text-decoration: none;}

join-button {
background: url(images/join-button.png) bottom right no-repeat;
display: block;
padding-right: 13px;
height: 29px;
position: absolute;
left: 63px;
bottom: -3px;
font-size: 12px;
color: white !important;
font-weight: bold;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
text-decoration: none;
font-family: Helvetica, Arial, sans-serif;
}
.s3{
    display:block;
width: 200px;
background:#ccc;
margin: 0px auto;
box-shadow:1px 1px 5px #000;
list-style: none;
float:left;
background:#e2eaea;
min-height:200px;
position:absolute;
margin-top: 40px
}
.left_menu{list-style:none;padding:0px;margin:0px;}
.left_menu li{padding:4px;margin:0px;cursor:pointer;border:1px solid #bfc8c8;background: #9faaaa;font:15px Georgia,sans-serif;color:#e2eaea;height:20px;}
.left_menu a{color:#e2eaea;}
.left_menu li:hover{background:#e2eaea;color:#9faaaa;}
.left_menu a:hover{color:#9faaaa;}
.head{width:250px;margin:0px auto;padding:5px;background:#e2eaea;display:block;text-align:center;font:20px Georgia,sans-serif;color:#9faaaa;cursor:pointer;border-radius:4px;box-shadow:0px 2px #b6bcbc;-webkit-transition-duration:0.5s;-webkit-transition-timing-function: ease-in;}
.head:hover{color:#e2eaea;background:#9faaaa;text-shadow:0px 1px #8c9999;-webkit-transition-duration:0.5s;-webkit-transition-timing-function: ease-in;box-shadow:0px 2px #b6bcbc;}
.head_content{display:inline-block;margin:0px;padding:0px;text-align:justify;max-width:650px;font-size: 13px;margin-top:10px;}
.lfloat-content{float:left;padding:5px;}
.rfloat-content{float:right;padding:10px;font:13px "Segoe Ui Light",georgia;}
.wrapper{display:block;width:720px;height:340px;margin:0px auto;background:#ccdae9;padding-left:10px;font:14px "Segoe UI Symbol Georgia";color:#515757;}
.layer{display:block;width:700px;height:120px;margin:0px;padding:0px;text-align: left;}
.layer_text{display:inline-block;width:150px;height:120px;float:left;padding:0px 10px;}

.wrapper_box{display:block;width:1100px;min-height:400px;margin:0px auto;}
.wrap-box{display:inline-block;width:225px;height:410px;box-shadow:1px 1px 1px 1px  #fbfbfb;margin:20px;background:#f2f2f2;border-radius:6px;box-shadow:0px 2px 5px 2px #111;}
            .box-top{dispaly:inline-block;width:221px;height:80px;background:#385d7e;border-top-left-radius:6px;border-top-right-radius:8;padding:0px;margin:0px;border:2px solid #31506b;border-bottom:0px;}
            .box-head{display:block;padding:0px;margin:0px;text-align:center;color:#fff;text-shadow:1px 0px #ebe6e6;padding-top:10px;font:30px "Georgia Bookshelf Symbol 7";}
            .box-head-p{padding:0px;margin:3px 0px;text-align:center;color:#aab5a2;text-shadow:1px #ebe6e6;font:14px "Segoe UI";}
            .box-down-wrap{display:inline-block;height:330px;width:223px;border-bottom-left-radius:8px;border-bottom-right-radius:6px;}
            .box-down{display:inline-block;padding:0px;margin:0px;width:225px;margin-top:40px;}
            .box-content{display:block;width:185px;margin:0px auto;border-top:1px solid #d4cdcd;height:40px;text-align:center;}
            .box-img{float:left;padding:0 4px;margin:0px;margin-top:13px;}
            .box-content-p{padding:0px 4px;margin:0px;margin-top:12px;float:left;font:13px "Segoe UI";color:#99a392;}
            .box-hr{display:block;width:155px;margin:8px auto;height:1px;box-shadow:1px 1px 5px #111;color:#f1f4f6;-webkit-box-shadow:1px 1px 5px #111;-o-box-shadow:1px 1px 5px #111;}
            .money{border:0px;}
            .box-money{font:35px "Georgia";text-align:center;padding:0px;margin:0px;color:#4a9d46;}
            .box-buy{display:block;width:109px;padding:0px;margin:0px auto;background:-moz-radial-gradient(#bbbbbb,#ebe7e7);background:-o-radial-gradient(#bbbbbb,#ebe7e7);background:-webkit-radial-gradient(#bbbbbb,#ebe7e7);height:30px;border-radius:40px;box-shadow:2px 2px 2px #a4a1a1;margin-top:10px;}
            .box-buy-p{font:17px "Georgia";padding:0px;color:#fff;text-align:center;margin:5px 20px;;display:inline-block;}

            .web-bottom{display:inline-block;width:100%;min-height:80px;background:#d5d1d1;position:relative;}
            .left-bottom{display:inline-block;float:left;}
            .left-bottom-wrap{display:block;width:400px;margin-left:100px;}
            .right-bottom{display:inline-block;float:right;}
            .right-bottom-wrap{display:block;width:400px;margin-right:100px;margin-top:50px;}
            .lol{float:right;margin-right:300px;padding:10px;}
            .lol1{float:right;margin-right:10px;padding:10px;}
            .lol1 ul{list-style: none;}
             .lol ul{list-style: none;}

             .lol1 ul li a{text-decoration:none;font-size:11px;color:#f73d04;}
             .lol ul li a{text-decoration:none;font-size:11px;color:#f73d04;}
.fot{margin-left:10px;}
/* Live Chat */
.live-chat{left:-290px;z-index: 999;position: absolute;margin-top:30px;
    -webkit-transition-duration:1.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration:1.5s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration:1.5s;
    -o-transition-timing-function: ease-in-out;}
.live-chat:hover{left:0px;
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-duration:0.5s;
    -o-transition-timing-function: ease-in-out;}
.chat{left:0px;z-index:999;width:60px;height:60px;position: absolute;margin-top: 20px;
    -webkit-transition-duration:4.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration:4.5s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration:4.5s;
    -o-transition-timing-function: ease-in-out;}
.chat:hover{left: -100px;
    -webkit-transition-duration:0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration:0.5s;
    -o-transition-timing-function: ease-in-out;
    }

/* slider */
#page { margin: 0 auto; width: 900px; background: #fff; padding:0px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #777; box-shadow: #999 1px 1px 3px;border-radius: 12px; }
#page h1 { font-weight: normal; font-size: 32px; letter-spacing: -2px; margin:0 0 20px 0; border-bottom: 1px solid #ddd; padding:0 0 10px 0; }
#page h2 { font-weight: bold; font-size: 22px; letter-spacing: -1px; font-style: italic; margin:40px 0 0 0; }
#page h3 { float: right; }
#page h3 a { font-weight: normal; font-size: 16px; color:#004499; }
#page h3 a:hover { color:#333; }


/* =Skitter styles
----------------------------------------------- */
.box_skitter {position:relative;width:900px;height:300px;background:#000;border-radius: 12px; }
.box_skitter img { max-width:none; border-radius: 12px; } /* Tip for stildv */
.box_skitter ul {display:none;}
.box_skitter .container_skitter {overflow:hidden;position:relative;border-radius: 12px; }
.box_skitter .image {overflow:hidden;}
.box_skitter .image img {display:none;}

/* =Box clone
-------------------------------------------------------------- */
.box_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;border-radius: 12px; }
.box_skitter .box_clone img {position:absolute;top:0;left:0;z-index:20;}

/* =Navigation
-------------------------------------------------------------- */
.box_skitter .prev_button {position:absolute;top:50%;left:35px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/prev.png) no-repeat left top;}
.box_skitter .next_button {position:absolute;top:50%;right:35px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/next.png) no-repeat left top;}

/* =Numbers
-------------------------------------------------------------- */
.box_skitter .info_slide {position:absolute;top:15px;left:15px;z-index:100;background:#000;color:#fff;font:bold 11px arial;padding:5px 0 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;opacity:0.75;}
.box_skitter .info_slide .image_number {background:#333;float:left;padding:2px 10px;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.box_skitter .info_slide .image_number_select {background:#cc0000;float:left;padding:2px 10px;margin:0 5px 0 0;}

/* =Thumbs
    Change width and height to customization dimension thumb
-------------------------------------------------------------- */
.box_skitter .container_thumbs { position:relative;overflow:hidden;height:50px; }
.box_skitter .info_slide_thumb { height:50px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;overflow:hidden;top:auto;top:0;left:0;padding:0 !important;opacity:1.0; }
.box_skitter .info_slide_thumb .image_number { overflow:hidden;width:100px;height:50px;position:relative;margin:0 !important; padding:0 !important; -moz-border-radius:0 !important;-webkit-border-radius:0 !important;border-radius:0 !important;}
.box_skitter .info_slide_thumb .image_number img { position:absolute;top:-30px;left:-30px;height:100px;}
.box_skitter .box_scroll_thumbs { padding:0; }
.box_skitter .box_scroll_thumbs .scroll_thumbs { position:absolute;bottom:60px;left:50px;background:#ccc;background:-moz-linear-gradient(-90deg, #555, #fff);background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#fff));width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101; cursor:pointer;border:0px solid #333; }

/* =Dots
-------------------------------------------------------------- */
.box_skitter .info_slide_dots {position:absolute;bottom:-40px;z-index:151;padding:5px 0 5px 5px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;}
.box_skitter .info_slide_dots .image_number {background:#333;float:left;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;width:18px;height:18px;text-indent:-9999em;overflow:hidden;}
.box_skitter .info_slide_dots .image_number_select {background:#cc0000;float:left;margin:0 5px 0 0;}

/* =Loading
-------------------------------------------------------------- */
.loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(../images/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}

/* =Label
-------------------------------------------------------------- */
.box_skitter .label_skitter     { z-index:150;position:absolute;bottom:0px;left:0px;display:none; }
.box_skitter .label_skitter     { z-index:150;position:absolute;bottom:0px;left:0px;color:#fff;display:none;opacity:0.8;background:#000; }
.box_skitter .label_skitter p   { padding:10px;margin:0;font:normal 22px arial,tahoma;letter-spacing:-1px; }
.box_skitter .info_slide *      { font-family:Consolas,arial,tahoma !important; }
.box_skitter .progressbar       { background:#000; position:absolute; top:5px;left:15px;height:5px; width: 200px; z-index:99; border-radius:20px; }

/* =Preview slide
-------------------------------------------------------------- */
.box_skitter .preview_slide { display:none; position:absolute; z-index:152; bottom:30px; left:-40px; width:100px; height:100px; background:#fff; border:1px solid #222; -moz-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; -webkit-box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; box-shadow:rgba(0,0,0,0.7) 2px 2px 5px; overflow:hidden; }
.box_skitter .preview_slide ul { height:100px; overflow:hidden; margin:0; list-style:none; display:block; position:absolute; top:0; left:0; }
.box_skitter .preview_slide ul li { width:100px; height:100px; overflow:hidden; float:left; margin:0; padding:0; position:relative; display:block; }
.box_skitter .preview_slide ul li img { position:absolute; top:0; left:0; height:150px; width:auto; }

/* =Focus
-------------------------------------------------------------- */
#overlay_skitter { position:absolute; top:0; left:0; width:100%; z-index:9998; opacity:1; background:#000; }

.box_skitter .focus_button {position:absolute;top:50%;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/focus-button.png) no-repeat left top;opacity:0;}
.box_skitter .play_pause_button {position:absolute;top:50%;z-index:151;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/pause-button.png) no-repeat left top;opacity:0;}
.box_skitter .play_pause_button.play_button {background:url(../images/play-button.png) no-repeat left top;}

/* =Example for dimenions
-------------------------------------------------------------- */
.box_skitter_large {width:900px;height:290px;border-radius: 12px;background: #000 }
.box_skitter_small {width:200px;height:100px;border-radius: 12px; }



/*services box index.php    */
.service-wrapper{width:900px;height:150px;background:#fff}
.service-index{width:142px;height:50px;background:#fbfbfb;float:left;margin-left:35px;}
.service-img{padding:15px;padding-left:60px;float: left;height: 60px;width: 100px }
